<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    {{> header}}
    <p>
        All i deal about the projects
    </p>
    <ul>
      <li>Hi</li>
      <li>Hi</li>
      <li>Hi</li>
      <li>Hi</li>
      <li>Hi</li>
    </ul>
    {{> footer}}

  </body>
</html>
